@import 'variables';

//------------------------------------------------------------------------------
// Buttons
//------------------------------------------------------------------------------
.button {
  display: block;
  width: 115px;
  height: 25px;
  background: $button;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;

  &:hover {
    background: $button-hover;
  }

  &--red {
    @extend .button;
    background: $button-red;

    &:hover {
      background: $button-red-hover;
    }
  }

  &--blue {
    @extend .button;
    background: $button-blue;
    
    &:hover {
      background: $button-blue-hover;
    }
  }

  &--gray {
    @extend .button;
    background: $button-gray;
    
    &:hover {
      background: $button-gray-hover;
    }
  }
  
  &--quantity {
    background: $button;
  }
}


//------------------------------------------------------------------------------
// Radio Buttons
//------------------------------------------------------------------------------

// Check variable values
@if ($custom-radio-size % 2 == 1) { @error '$custom-radio-size must be even'; }
// round to nearest even number
@if ($custom-radio-pip-size % 2 == 1) { $custom-radio-pip-size: $custom-radio-pip-size - 1; }


input[type="radio"] {
  position: relative;
  display: inline-block;

  width:  $custom-radio-size - 2;
  height: $custom-radio-size - 2;

  border-radius: 100%;
  -webkit-appearance: none;
  
  &::before {
    position: relative;
    top:  -$custom-radio-border-width;
    left: -$custom-radio-border-width;
    display: block;
    content: '';


    background: $custom-radio-bg;
    border: $custom-radio-border-width solid $custom-radio-border;
    border-radius: 100%;
    box-shadow: $custom-radio-inset-shadow;

    width:  $custom-radio-size;
    height: $custom-radio-size;
  }

  &:active::before {
    box-shadow: $custom-radio-inset-shadow,
                $custom-radio-active-inset-shadow;
  }

  &:focus::before {
    box-shadow: $custom-radio-inset-shadow,
                $custom-radio-focus-shadow;
  }

  &:checked::before {
    background: $custom-radio-bg;
    border-color: $custom-radio-border;
  }

  &:disabled::before {
    cursor: not-allowed;
    background-color: $custom-radio-disabled-bg;
    border-color: transparentize($custom-radio-border, .2);
  }

  &::after {
    position: relative;
    top: -($custom-radio-size / 2) - $custom-radio-border-width;
    left: ($custom-radio-size / 2) - $custom-radio-border-width;


    display: block;
    content: '';

    background: $custom-radio-pip-color;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);

    width:  0;
    height: 0;
  }

  &:checked::after {
    transition: all ease-in-out $custom-radio-transition-speed 0;

    top:  floor(
            - ($custom-radio-size / 2)
            - ($custom-radio-pip-size / 2)
            - $custom-radio-border-width
            - .5
          );

    left: floor(
            + ($custom-radio-size / 2)
            - ($custom-radio-pip-size / 2)
            - $custom-radio-border-width
            + 1
          );

    width:  $custom-radio-pip-size;
    height: $custom-radio-pip-size;
  }

  &:disabled::after {
    background: $custom-radio-disabled-pip-color;
  }
}


//------------------------------------------------------------------------------
// Text
//------------------------------------------------------------------------------
.t { 
  &--small {
    font-size: 0.5rem;
    font-weight: normal;
    color: $gray;
  
    &--bold {
      @extend .t--small;
      font-weight: bold;
    }
  }

  &--medium {
    font-size: 0.75rem;
    font-weight: normal;
    color: darken($gray, 25%);

    &--bold {
      @extend .t--medium;
      font-weight: bold;
    }
  }

  &--huge {
    font-size: 2rem;
    font-weight: normal;  
    &--bold {
      @extend .t--huge;
      font-weight: bold;
    }
  }

  &--selected {
    border: 1px $green solid;
    border-radius: 50%;
    padding: 3px 4px;
    margin-left: -3px;
    
    &--single {
      @extend .t--selected;
      padding: 5px 20px;
    }
  }

  &--emphasized {
    display: inline-block;
    position: relative;
    text-align: center;
    &::before {
      transform: translateX(-50%);
      transform: translateY(300%);
      border-radius: 100%;
      position: absolute;
      background: $yellow;
      bottom: 5px;
      height: 5px;
      content: '';
      width: 5px;
      left: 50%;  
    } 
  }
  
  &--white {
    color: white;
  }
  
  &--gray {
    color: gray;
  }

  &--green {
    color: $green;
  }

  &--yellow {
    color: $yellow;
  }

  &--blue {
    color: $lightblue;
  }
}

//------------------------------------------------------------------------------
// Other
//------------------------------------------------------------------------------

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0px 2px;
  background-color: $gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

  &:hover {
    background-color: darken($gray, 50%);
  }
}

.card {
  border-radius: 10px;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 0px 45px -5px rgba(131,230,230,1);
  }
  &__container {
    box-sizing: border-box;
    height:100%;
    padding: 1rem;
    
    &--center {
      @extend .card__container;
      text-align:center;
      align-items:center;
    }

    &--small {
      @extend .card__container;
      padding: 0.25rem;
    }
  }
}

.star {
  color: $star;
  &--pink {
    color: $star-pink;
  }  
  &--yellow {
    color: $star-yellow;
  }
  &--gray {
    color: $star-gray;
  }
}