//------------------------------------------------------------------------------
// Main
//------------------------------------------------------------------------------
$background-color: #1d2c3f;
$debug-color: #f00;

$menu-color: #e9342c;
$menu-border: #dd352e;
$calendar-color: #0f1722;
$friday-meal-color: #ecc20b;

//------------------------------------------------------------------------------
// Button Colors
//------------------------------------------------------------------------------
$button: #8bc058;
$button-hover: lighten($button, 15%);
$button-blue: #478cba;
$button-blue-hover: lighten($button-blue, 15%);
$button-red: #e9342c;
$button-red-hover: lighten($button-red, 15%);
$button-gray: #a7a7a7;
$button-gray-hover: lighten($button-gray, 15%);

//------------------------------------------------------------------------------
// Star Colors
//------------------------------------------------------------------------------
$star: #fff;
$star-pink: #ed7b5a;
$star-gray: #bcbfc7;
$star-yellow: #f8cf75;

//------------------------------------------------------------------------------
// General colors
//------------------------------------------------------------------------------
$gray: #cccccd;
$green: #a5cd80;