//------------------------------------------------------------------------------
// Main
//------------------------------------------------------------------------------
$background-color: #1d2c3f;
$debug-color: #ff0000;

//------------------------------------------------------------------------------
// Button Colors
//------------------------------------------------------------------------------
$button: #8bc058;
$button-hover: lighten($button, 15%);
$button-blue: #478cba;
$button-blue-hover: lighten($button-blue, 15%);
$button-red: #e9342c;
$button-red-hover: lighten($button-red, 15%);
$button-gray: #a7a7a7;
$button-gray-hover: lighten($button-gray, 15%);


//------------------------------------------------------------------------------
// General colors
//------------------------------------------------------------------------------
$gray: #cccccd;