//------------------------------------------------------------------------------
// Main
//------------------------------------------------------------------------------
$background-color: #1d2c3f;
$debug-color: #f00;

$menu-color: #e9342c;
$menu-border: #dd352e;
$calendar-color: #0f1722;
$friday-meal-color: #ecc20b;

//------------------------------------------------------------------------------
// General colors
//------------------------------------------------------------------------------
$gray: #cccccd;
$green: #a5cd80;
$yellow: #ecc30a;

//------------------------------------------------------------------------------
// Button Colors
//------------------------------------------------------------------------------
$button: #8bc058;
$button-hover: lighten($button, 15%);
$button-blue: #478cba;
$button-blue-hover: lighten($button-blue, 15%);
$button-red: #e9342c;
$button-red-hover: lighten($button-red, 15%);
$button-gray: #a7a7a7;
$button-gray-hover: lighten($button-gray, 15%);

//------------------------------------------------------------------------------
// Star Colors
//------------------------------------------------------------------------------
$star: #fff;
$star-pink: #ed7b5a;
$star-gray: #bcbfc7;
$star-yellow: #f8cf75;

//------------------------------------------------------------------------------
// Radio Button Settings
//------------------------------------------------------------------------------
$custom-radio-size:                 24px;
$custom-radio-border-width:         1px;
$custom-radio-transition-speed:     100ms;
$custom-radio-inset-shadow:         inset 0 .1em 1px -.1em rgba(0,0,0,.3);
$custom-radio-pip-color:            darken($green, 15%);
$custom-radio-pip-size:             round($custom-radio-size * .6);

// States
$custom-radio-bg:                   $yellow;
$custom-radio-bg:                   $yellow;
$custom-radio-border:               $custom-radio-pip-color;

$custom-radio-active-inset-shadow:  inset 0 0 2px 3px rgba(0,0,0,.1);
$custom-radio-focus-shadow:         0 0 0 2px transparentize(dodgerblue, .5);
$custom-radio-disabled-bg:          lighten(black, 91.8%);
$custom-radio-disabled-pip-color:   lighten(black, 80%);
