.button, .button--red, .button--blue, .button--gray {
  display: block;
  width: 115px;
  height: 25px;
  background: #8bc058;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold; }
  .button:hover, .button--red:hover, .button--blue:hover, .button--gray:hover {
    background: #b2d590; }
  .button--red {
    background: #e9342c; }
    .button--red:hover {
      background: #f07771; }
  .button--blue {
    background: #478cba; }
    .button--blue:hover {
      background: #7fafcf; }
  .button--gray {
    background: #a7a7a7; }
    .button--gray:hover {
      background: #cdcdcd; }
  .button--quantity {
    background: #8bc058; }

input[type="radio"] {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  -webkit-appearance: none; }
  input[type="radio"]::before {
    position: relative;
    top: -1px;
    left: -1px;
    display: block;
    content: '';
    background: #ecc30a;
    border: 1px solid #7eb749;
    border-radius: 100%;
    box-shadow: inset 0 0.1em 1px -0.1em rgba(0, 0, 0, 0.3);
    width: 24px;
    height: 24px; }
  input[type="radio"]:active::before {
    box-shadow: inset 0 0.1em 1px -0.1em rgba(0, 0, 0, 0.3), inset 0 0 2px 3px rgba(0, 0, 0, 0.1); }
  input[type="radio"]:focus::before {
    box-shadow: inset 0 0.1em 1px -0.1em rgba(0, 0, 0, 0.3), 0 0 0 2px rgba(30, 144, 255, 0.5); }
  input[type="radio"]:checked::before {
    background: #ecc30a;
    border-color: #7eb749; }
  input[type="radio"]:disabled::before {
    cursor: not-allowed;
    background-color: #eaeaea;
    border-color: rgba(126, 183, 73, 0.8); }
  input[type="radio"]::after {
    position: relative;
    top: -13px;
    left: 11px;
    display: block;
    content: '';
    background: #7eb749;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 0;
    height: 0; }
  input[type="radio"]:checked::after {
    transition: all ease-in-out 100ms 0;
    top: -21px;
    left: 5px;
    width: 14px;
    height: 14px; }
  input[type="radio"]:disabled::after {
    background: #cccccc; }

.t--small, .t--small--bold {
  font-size: 0.5rem;
  font-weight: normal;
  color: #cccccd; }
  .t--small--bold {
    font-weight: bold; }

.t--medium, .t--medium--bold {
  font-size: 0.75rem;
  font-weight: normal;
  color: #8c8c8e; }
  .t--medium--bold {
    font-weight: bold; }

.t--huge, .t--huge--bold {
  font-size: 2rem;
  font-weight: normal; }
  .t--huge--bold {
    font-weight: bold; }

.t--selected, .t--selected--single {
  border: 1px #a5cd80 solid;
  border-radius: 50%;
  padding: 3px 4px;
  margin-left: -3px; }
  .t--selected--single {
    padding: 5px 20px; }

.t--emphasized {
  display: inline-block;
  position: relative;
  text-align: center; }
  .t--emphasized::before {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
    border-radius: 100%;
    position: absolute;
    background: #ecc30a;
    bottom: 5px;
    height: 5px;
    content: '';
    width: 5px;
    left: 50%; }

.t--white {
  color: white; }

.t--gray {
  color: gray; }

.t--green {
  color: #a5cd80; }

.t--yellow {
  color: #ecc30a; }

.t--blue {
  color: #5c90bc; }

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0px 2px;
  background-color: #cccccd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .dot:hover {
    background-color: #4c4c4e; }

.card {
  border-radius: 10px;
  transition: 0.3s; }
  .card:hover {
    box-shadow: 0px 0px 45px -5px #83e6e6; }
  .card__container, .card__container--center, .card__container--small {
    box-sizing: border-box;
    height: 100%;
    padding: 1rem; }
    .card__container--center {
      text-align: center;
      align-items: center; }
    .card__container--small {
      padding: 0.25rem; }

.star {
  color: #fff; }
  .star--pink {
    color: #ed7b5a; }
  .star--yellow {
    color: #f8cf75; }
  .star--gray {
    color: #bcbfc7; }

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background-color: #1d2c3f; }

.debug {
  border: 1px solid #f00; }

.container {
  padding: 80px;
  margin: auto;
  width: 1500px;
  height: 1320px;
  zoom: 0.75; }

.grid {
  display: grid;
  grid-template-areas: 'menu menu calendar' 'meal burger calendar' 'meal drinks drinks';
  grid-template-columns: 1fr 1fr 1.2fr;
  grid-template-rows: 1fr 1.8fr 1fr;
  grid-gap: 1rem;
  height: 100%;
  width: 100%; }
  .grid__menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    grid-gap: 1rem; }
  .grid__calendar {
    grid-area: calendar;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem; }
  .grid__burger {
    grid-area: burger;
    display: flex;
    flex-direction: column;
    height: 590px;
    width: 470;
    background-color: white; }
  .grid__meal {
    grid-area: meal;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-gap: 1rem; }
  .grid__drinks {
    grid-area: drinks;
    background-image: url("../assets/images/drinks.png");
    background-size: 100% 100%; }

.menu__main {
  background-color: #e9342c;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 0.1rem; }
  .menu__main__img {
    position: relative;
    border-bottom: 1px solid #dd352e;
    vertical-align: middle; }
    .menu__main__img img {
      padding: 30%; }

.menu__linguine {
  box-sizing: border-box;
  background-color: white;
  background-image: url("../assets/images/linguine.png");
  background-size: 100% 100%; }
  .menu__linguine table {
    margin-bottom: 1rem; }
  .menu__linguine th {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .menu__linguine td {
    text-align: center; }

.menu__ingredients {
  background-image: url("../assets/images/ingredients.png");
  background-size: 100% 100%; }
  .menu__ingredients table {
    border-collapse: collapse; }
  .menu__ingredients td {
    position: relative;
    padding-bottom: 0.25rem; }

.calendar__main {
  background-color: #0f1722;
  display: flex; }
  .calendar__main__info {
    background-image: url("../assets/images/calendar.png");
    background-size: 100% 100%;
    flex: 45%; }
    .calendar__main__info table {
      width: 100%;
      margin-bottom: 60%; }
    .calendar__main__info a {
      margin-top: 80%; }
  .calendar__main__cal {
    flex: 55%; }
    .calendar__main__cal ul {
      list-style-type: none; }
    .calendar__main__cal li {
      display: inline-block;
      width: 10%;
      font-size: 0.75rem;
      padding: 2%; }
    .calendar__main__cal table {
      width: 100%; }

.calendar__list {
  background-color: white; }
  .calendar__list table {
    width: 100%;
    margin: 10px;
    border-collapse: collapse; }
  .calendar__list tr {
    border-bottom: 1px solid #cccccd;
    padding: 5px; }
  .calendar__list a {
    display: inline-block;
    margin: 5px; }

.meal__main {
  background-color: #ecc20b;
  background-image: url("../assets/images/fridaymeal.png");
  background-size: 100% 100%; }
  .meal__main td {
    padding: 0.5rem; }

.meal__newFlavour {
  background-image: url("../assets/images/newflavor.png");
  background-size: 100% 100%; }
  .meal__newFlavour__breaker {
    border: 2px solid black;
    width: 20%;
    margin: auto; }
  .meal__newFlavour__button {
    margin: auto;
    margin-top: 75%;
    vertical-align: middle; }

.drinks {
  width: 40%;
  margin-left: 60%; }

.burger__image {
  flex: 80%;
  background-image: url("../assets/images/mysterybox.png");
  background-size: 100% 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: 1px solid #5c90bc;
  position: relative; }

.burger__info {
  flex: 20%; }
  .burger__info table {
    width: 100%; }
  .burger__info td {
    padding: 5px; }

.burger__rating {
  box-sizing: border-box;
  line-height: 12px;
  width: 100px;
  height: 40px;
  margin-top: 50px;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ecc30a;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }
