@import 'components/variables';
@import 'components/elements';

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background-color: $background-color;
}

.debug {
  border: 1px solid $debug-color;
}

.container {
  padding: 80px;
  margin: auto;
  width: 1500px;
  height: 1320px;
  zoom: 0.75;
}

.grid {
  display: grid;
  grid-template-areas:
  'menu menu calendar'
  'meal burger calendar'
  'meal drinks drinks';
  grid-template-columns: 1fr 1fr 1.2fr;
  grid-template-rows: 1fr 1.8fr 1fr;
  grid-gap: 1rem;
  height:100%;
  width:100%;

  &__menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    grid-gap: 1rem;
  }
  
  &__calendar {
    grid-area: calendar;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
  }
  
  &__burger {
    grid-area: burger;
    display: flex;
    flex-direction: column;
    height: 590px;
    width: 470;
    background-color: white;
  }
  
  &__meal {
    grid-area: meal;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-gap: 1rem;
  }
  
  &__drinks {
    grid-area: drinks;
    background-image: url('../assets/images/drinks.png');
    background-size: 100% 100%;
  }
}

.menu {

  &__main {
    background-color: $menu-color;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0.1rem;

    &__img {
      position: relative;
      border-bottom: 1px solid $menu-border;
      
      vertical-align: middle;
      img {
        padding: 30%;
      }
    }
    
  }

  &__linguine {
    box-sizing: border-box;
    background-color: white;
    background-image: url('../assets/images/linguine.png');
    background-size: 100% 100%;

    table {
      margin-bottom: 1rem;
    }
    th {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    td {
      text-align: center;
    }
  }

  &__ingredients {
    background-image: url('../assets/images/ingredients.png');
    background-size: 100% 100%;
    table {
      border-collapse: collapse;
    }
    td {
      position: relative;
      padding-bottom: 0.25rem;
    }
  }
}

.calendar {

  &__main {
    background-color: $calendar-color;
    display: flex;

    &__info {
      
      background-image: url('../assets/images/calendar.png');
      background-size: 100% 100%;
      flex: 45%;
      table {
        width:100%;
        margin-bottom: 60%;
      }
      a {
        margin-top: 80%;
      }
    }

    &__cal {
      flex: 55%;

      ul {
        list-style-type: none;
      }
      li {
        display: inline-block;
        width: 10%;
        font-size: 0.75rem;
        padding: 2%;
      }

      table {
        width:100%;
      }
    }
  }

  &__list {
    background-color: white;
    table {
      width: 100%;
      margin: 10px;
      border-collapse: collapse; 
    }
    tr {
      border-bottom: 1px solid $gray;
      padding: 5px;
    }
    a {
      display: inline-block;
      margin: 5px;
    }
  }
}

.meal {
  
  &__main {
    background-color: $friday-meal-color;
    background-image: url('../assets/images/fridaymeal.png');
    background-size: 100% 100%;   
    td {
      padding: 0.5rem;
    } 
  }

  &__newFlavour {
    background-image: url('../assets/images/newflavor.png');
    background-size: 100% 100%;

    &__breaker {
      border: 2px solid black;
      width:20%;
      margin:auto;
    }

    &__button {
      margin: auto;
      margin-top:75%;
      vertical-align: middle;
    }
  }
}

.drinks {
  width: 40%;
  margin-left: 60%;
}


.burger {

  &__image {
    flex: 80%;
    background-image: url('../assets/images/mysterybox.png');
    background-size: 100% 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: 1px solid $lightblue;
    position:relative;
  }

  &__info {
    flex: 20%;
    table {
      width: 100%;
    }
    td {
      padding: 5px;
    }
  }

  &__rating {    
    box-sizing: border-box;
    line-height: 12px;
    width: 100px;
    height: 40px;
    margin-top: 50px;
    padding: 8px;
    position:absolute;
    top:0;
    right:0;
    background-color: $yellow;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}