@import 'components/variables';
@import 'components/elements';

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background-color: $background-color;
}

.debug {
  border: 1px solid $debug-color;
}

.container {
  padding: 80px;
  margin: auto;
  width: 1500px;
  height: 1320px;
  zoom: 0.75;  
  -moz-transform: scale(0.75);
}

.grid {
  display: grid;
  grid-template-areas:
  'menu menu calendar'
  'meal burger calendar'
  'meal drinks drinks';
  grid-template-columns: 1fr 1fr 1.2fr;
  grid-template-rows: 1fr 1.8fr 1fr;
  grid-gap: 1rem;
  height:100%;
  width:100%;

  &__menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    grid-gap: 1rem;
  }
  
  &__calendar {
    grid-area: calendar;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
  }
  
  &__burger {
    grid-area: burger;
    height: 590px;
    width: 470;
    background-color: white;
    
    img {
      border-radius: 10px 10px 0px 0px;
      width: 100%;
    }
  }
  
  &__meal {
    grid-area: meal;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-gap: 1rem;
  }
  
  &__drinks {
    grid-area: drinks;
    background-image: url('../assets/images/drinks.png');
    background-size: 100% 100%;
  }
}

.menu {

  &__main {
    background-color: #e9342c;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0.1rem;

    &__img {
      position: relative;
      border-bottom: 1px solid #dd352e;
      
      vertical-align: middle;
      img {
        padding: 30%;
      }
    }
    
  }

  &__linguine {
    background-color: white;
    background-image: url('../assets/images/linguine.png');
    background-size: 100% 100%;
  }

  &__ingredients {
    background-image: url('../assets/images/ingredients.png');
    background-size: 100% 100%;
  }
}

.calendar {

  &__main {
    background-color: #0f1722;
  }

  &__list {
    background-color: white;
  }
}

.meal {
  
  &__main {
    background-color: #ecc20b;
    background-image: url('../assets/images/fridaymeal.png');
    background-size: 100% 100%;    
  }

  &__newFlavour {
    background-image: url('../assets/images/newflavor.png');
    background-size: 100% 100%;

    &__breaker {
      border: 2px solid black;
      width:20%;
      margin:auto;
    }

    &__button {
      margin: auto;
      margin-top:75%;
      vertical-align: middle;
    }
  }
}

.card {
  border-radius: 10px;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 0px 45px -5px rgba(131,230,230,1);
  }
  &__container {
    box-sizing: border-box;
    height:100%;
    padding: 0.5rem;
    
    &--center {
      @extend .card__container;
      text-align:center;
      align-items:center;
    }
  }
}