@import 'components/variables';

body {
  background-color: #1d2c3f;
}

.debug {
  border: 1px solid red;
}

.component {
  border-radius: 10px;

  &__mysteryBox {
    background-image: url(../assets/images/mysterybox.png);
    background-size: 100% 100%;
    height: 400px;
    width: 300px;
  }
}

.article {

  background-color: $primary-color;
  border: 1px solid $secondary-color;

  &--secondary {
    background-color: $primary-color-light;
  }

  &__child {
    background-color: $primary-color-dark;
  }
}

